@charset "iso-8859-1";

BODY {
       background: black;
       color: white;
       text-align: right;
       font-size: 12pt;
       padding: 30pt;
       }

A {
    text-decoration: none;
    font-style: normal;
    transition: all 2s;
    color: yellow;
    }

A:visited {
    text-decoration: none;
    font-style: normal;
    /*  color: #0000FF */
    }

A:hover { 
    text-decoration: none;
    /*color: #FF0000;*/
    color:yellow;
    }


h1 {
/*    font-size: 130%;
    font-weight: bold;
*/
    color: yellow;
    text-align:center
}

form {
    text-align:right
}

form input {
    margin-top:3pt;
    margin-bottom:3pt
}

#result {
    padding: 3pt;
    background: white;
    color: black;
    text-align: left;
    overflow: scroll;
}

#result pre {
        padding-left: 3pt;
}

.container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom:40px;
}

.error {
    text-align:left;
    color:red;
}
